html {
	font-size: 62.5%;
}

body {
	font-family: Nunito Sans;
}

@media screen and (min-width: 1704px) {
	html {
		font-size: 70%;
	}
}

@media screen and (max-width: 1489px) {
	html {
		font-size: 55%;
	}
}
@media screen and (max-width: 1321px) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 1209px) {
	html {
		font-size: 40%;
	}
}

@media screen and (max-width: 961px) {
	html {
		font-size: 35%;
	}
}
@media screen and (max-width: 841px) {
	html {
		font-size: 30%;
	}
}

@media screen and (max-width: 726px) {
	html {
		font-size: 25%;
	}
}

@media screen and (max-width: 562px) {
	html {
		font-size: 20%;
	}
}

@media screen and (max-width: 426px) {
	html {
		font-size: 15%;
	}
}

@media screen and (max-width: 326px) {
	html {
		font-size: 10%;
	}
}
